{% extends 'core/base.html' %} {% load static %} {% block title %}Pinterest Downloader{% endblock title %}{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            <!-- <script type="text/javascript">
                atOptions = {
                    'key': 'c54cfdaa1fa9691a00bfa7f06c2d2f0c',
                    'format': 'iframe',
                    'height': 50,
                    'width': 320,
                    'params': {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.variousformatscontent.com/c54cfdaa1fa9691a00bfa7f06c2d2f0c/invoke.js"></scr' + 'ipt>');
            </script> -->
            <!-- Intech Ads - Ad Display Code -->
            <div id="adm-container-5484"></div>
            <script data-cfasync="false" async type="text/javascript" src="//intechads.com/display/items.php?5484&1626&728&90&0&0&2"></script>
            <!-- Intech Ads - Ad Display Code -->
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-12">
            <p class="text-responsive text-center text-white ">Paste your Pinterest video link and click Go</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-1"></div>
        <div class="col-12 col-md-10 px-3">
            <form action="{% url 'pinterest_index' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="{{form.link.id_for_label}}">{{form.link.label}}</span>
                    </div>
                    {{form.link}}
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-danger">Go</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="offset-md-1"></div>
    </div>

    {% if messages %} {% for message in messages %}
    <div {% if message.tags %} class='bg-{{message.tags}} text-center p-4 mt-5 border rounded sadow-lg' {% endif %}>
        <p class="h3">{{message}}</p>
    </div>
    {% endfor %} {% endif %}

    <!-- download page only -->
    {% if download %}
    <div class="row mt-5 shadow-lg border rounded">
        <div class="col-12 col-md-6 py-3">
            <p class="p-2 text-center text-white border rounded shadow" style="background-color: #334390;">HD File</p>
            <div class="embed-responsive embed-responsive-16by9 border shadow my-2">
                <video controls class="embed-responsive-item bg-dark">
                    <source src="{{sdvideo_url}}" type="video/mp4">
                <video>
            </div>
        </div>
        <div class="col-12 col-md-6 py-3">
            <p class="p-2 text-center text-white border rounded shadow" style="background-color: #334390;">HD File</p>
            <div class="embed-responsive embed-responsive-16by9 border shadow my-2">
                <video controls class="embed-responsive-item bg-dark">
                    <source src="{{sdvideo_url}}" type="video/mp4">
                <video>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 pt-3">
            <div class="card">
                <!-- Intech Ads - Ad Display Code -->
                <div id="adm-container-5486"></div>
                <script data-cfasync="false" async type="text/javascript" src="//intechads.com/display/items.php?5486&1626&728&90&4&0&2"></script>
                <!-- Intech Ads - Ad Display Code -->

            </div>
        </div>

    </div>
    {% endif %}
    <!-- end download page only -->

    <div class="row pt-5" id="help">
        <div class="col-12">
            <p class="text-responsive text-center text-white">How to download Pinterest video online?</p>
        </div>
    </div>
    <div class="row pt-2 text-white text-center">
        <div class="col-12 col-md-4 pb-2">
            <div class="border rounded p-4 shadow">
                <div class="h3">Copy Pinterest URL</div>
                <div class="p">Copy your video URL from Pinterest that you need to download. You can use Ctrl+C or with
                    the
                    context menu.</div>
            </div>
        </div>
        <div class="col-12 col-md-4 pb-2">
            <div class="border rounded p-4 shadow">
                <div class="h3 py-1">Paste in search field</div>
                <div class="p py-2">Paste Pinterest video URL in the search field and click 'Go'. Use Ctrl+V.</div>
            </div>
        </div>
        <div class="col-12 col-md-4 pb-2">
            <div class="border rounded p-4 shadow">
                <div class="h3">Download Video</div>
                <div class="p">You will get a list of files for download video, Click the 'Download' button
                    to start downloading the file</div>
            </div>
        </div>
    </div>
    <div class="row pt-2 bg-light text-dark">
        <div class="col-12 pb-2">
            <div class="border rounded p-4 shadow">
                <h2>How to Download Pinterest Videos?</h2>
<p><a href="st9ja.com">Pinterest video downloader&rsquo;s</a> is a free online tool for downloading Pinterest videos. You can very easily download Pinterest videos from here. Together with the video files, you can also download gifs from Pinterest. This is a free online video downloader tool.</p>
<p>By the way, I would also like to tell you that Pinterest is&nbsp;a social media network in which people who come from different countries regularly upload their videos and pictures for traffic and promotion. But Pinterest does not give any option to download videos directly from their website. But you can easily download Pinterest videos and images with the help of <a href="st9ja.com/pinterest">Pinterest Video Downloader</a>.</p>
<p>Now I will tell you to step how you can download Pinterest videos, and gifs from your laptop, mobile,&nbsp;desktop, android, or iPhone, so let's get to it.</p>
<h2>How to Download Pinterest Videos Using Mobile?</h2>
<p>First of all, open up the Pinterest website or their mobile app on your mobile device.</p>
<p>Then go to the search box and perform a search for the video you want. Then you will see the list of lots of Pinterest videos.</p>
<p>Click on any video that you want to download, that video will be open right away depending on your internet connection. If you want to download that video then you will see a send name button on that particular video, when you see that, click on it. Then you will show a copy icon. Clicking on that copy icon would copy the link to your video directly.</p>
<p>Then you paste the copied link in the search box of st9ja.com/pinterest website as in the image below, then click on the download button.</p>
<img src="https://i.imgur.com/uqbNgP6.png" alt="st9ja pinterest video downloader" srcset="">
<p>You will get the link format to download the video, then you can download your video file directly.</p>
<h2>How to Download Pinterest Videos By Computer?</h2>
<p>First of all, you will go to the Pinterest website at pinterest.com. Next, you go to the search box and search videos there. From there, you will get a list of videos. You can click on any video that you want as per your choice.</p>
<p>After clicking on the video, your video would be played, now you have to click on the send button of the video. As you can see in the image that is right below.</p>
<img src="https://i.imgur.com/uqbNgP6.png" alt="st9ja pinterest video downloader" srcset="">
<p>After clicking the send button, you will see a menu pop up, or do I say a modal box come up. Now you have to click on the link button and after clicking on the link button, your video link would be copied to your clipboard.</p>
<p>Now you have to come to the <a href="st9ja.com">Pinterest video downloader&rsquo;s</a> website and paste the link of the copied video into the video search box that is on the screen.</p>
<p>After pasting the video link in the search box, you have to click on the download button, now you will see the links of some videos to download the Pinterest video.</p>
<p>If you want to download the video then for this &ldquo;To download, right-click on the download button (or tap and hold if you are using a mobile) and choose the Save/Download option.&rdquo;</p>
<h2>Pinterest Video Downloader Features :</h2>
<p>1. Very Fast, easy, and secure to use.</p>
<p>2. No need to login into your Pinterest account to download a video.</p>
<p>3. You can Download Pinterest Videos &amp; Gif using just one click.</p>
<p>4. You get to save &amp; download Pinterest videos in their original resolution &amp; HD Or 720p quality.</p>
<h2>Frequently Asked Questions</h2>
<h4>What is the format of downloaded Pinterest video?</h4>
<p>Depending on the available quality of the Pinterest video, our Pinterest Video Downloader extracts the MP4 HD quality video links. You can choose to download whichever video that you want.</p>
<h4>Can I Convert Pinterest Video to MP4?</h4>
<p>Yes, You can easily convert any Pinterest Video to mp4.</p>
<h4>Can I use Pinterest Video Downloader in all the Browsers?</h4>
<p>yes, everyone can download Pinterest videos from any browser. it is a web service so it can be opened and used by any browser.</p>
<h4>Do st9ja.com provide the best speed for downloading Pinterest videos?</h4>
<p>high-speed Pinterest video downloader provides the highest speed of download video, we provide 24 hrs free and speedy service for our users.</p>
<h4>Any limit for downloading Pinterest videos?</h4>
<p>no there is no limit to downloading Pinterest videos, you can download unlimited videos from Pinterest without anything, just open our website and download Pinterest video by pasting the URL link on <a href="st9ja.com/pinterest">Pinterest video downloader</a>.</p>
<h4>Is it secure to use Pinterest Video Download from here?</h4>
<p>yes, it is totally secure platform for downloading Pinterest videos, we provide security and privacy for our users.</p>
<h4>What devices are compatible?</h4>
<p>st9ja.com supports downloads from Pinterest regardless of what device or what operating system you might be using. Pinterest Video downloading is available on iPhones, Android phones, tablets, PCs, and Mac Devices.</p>
<h4>How do I download live Pinterest Videos?</h4>
<p>To download any live Pinterest video, you must wait until the streaming has been completed, and then you can download them just like any other videos by just entering the video link in the online Pinterest video downloader.</p>
                <h1>Privacy Policy for st9ja</h1>

<p>At st9ja, accessible from st9ja.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by st9ja and how we use it.</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in st9ja. This policy is not applicable to any information collected offline or via channels other than this website. Our Privacy Policy was created with the help of the <a href="https://www.privacypolicygenerator.info">Free Privacy Policy Generator</a>.</p>

<h2>Consent</h2>

<p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

<h2>Information we collect</h2>

<p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
<p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
<p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>

<h2>How we use your information</h2>

<p>We use the information we collect in various ways, including to:</p>

<ul>
<li>Provide, operate, and maintain our website</li>
<li>Improve, personalize, and expand our website</li>
<li>Understand and analyze how you use our website</li>
<li>Develop new products, services, features, and functionality</li>
<li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
<li>Send you emails</li>
<li>Find and prevent fraud</li>
</ul>

<h2>Log Files</h2>

<p>st9ja follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>

<h2>Cookies and Web Beacons</h2>

<p>Like any other website, st9ja uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>

<p>For more general information on cookies, please read <a href="https://www.generateprivacypolicy.com/#cookies">the Cookies article on Generate Privacy Policy website</a>.</p>

<h2>Google DoubleClick DART Cookie</h2>

<p>Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to www.website.com and other sites on the internet. However, visitors may choose to decline the use of DART cookies by visiting the Google ad and content network Privacy Policy at the following URL – <a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a></p>


<h2>Advertising Partners Privacy Policies</h2>

<P>You may consult this list to find the Privacy Policy for each of the advertising partners of st9ja.</p>

<p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on st9ja, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>

<p>Note that st9ja has no access to or control over these cookies that are used by third-party advertisers.</p>

<h2>Third Party Privacy Policies</h2>

<p>st9ja's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>

<p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>

<h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>

<p>Under the CCPA, among other rights, California consumers have the right to:</p>
<p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
<p>Request that a business delete any personal data about the consumer that a business has collected.</p>
<p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

<h2>GDPR Data Protection Rights</h2>

<p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
<p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
<p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
<p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
<p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
<p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

<h2>Children's Information</h2>

<p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>

<p>st9ja does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}