{% extends 'core/base.html' %} {% load static %} {% block title %}Reels Downloader{% endblock title %}{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            <!-- <script type="text/javascript">
                atOptions = {
                    'key': 'c54cfdaa1fa9691a00bfa7f06c2d2f0c',
                    'format': 'iframe',
                    'height': 50,
                    'width': 320,
                    'params': {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.variousformatscontent.com/c54cfdaa1fa9691a00bfa7f06c2d2f0c/invoke.js"></scr' + 'ipt>');
            </script> -->
            <!-- Intech Ads - Ad Display Code -->
            <div id="adm-container-5484"></div>
            <script data-cfasync="false" async type="text/javascript" src="//intechads.com/display/items.php?5484&1626&728&90&0&0&2"></script>
            <!-- Intech Ads - Ad Display Code -->
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-12">
            <p class="text-responsive text-center text-white ">Paste your Instagram Reels video link and click Go</p>
        </div>
    </div>
    <div class="row">
        <div class="offset-md-1"></div>
        <div class="col-12 col-md-10 px-3">
            <form action="{% url 'reels_index' %}" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="{{form.link.id_for_label}}">{{form.link.label}}</span>
                    </div>
                    {{form.link}}
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-danger">Go</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="offset-md-1"></div>
    </div>

    {% if messages %} {% for message in messages %}
    <div {% if message.tags %} class='bg-{{message.tags}} text-center p-4 mt-5 border rounded sadow-lg' {% endif %}>
        <p class="h3">{{message}}</p>
    </div>
    {% endfor %} {% endif %}

    <!-- download page only -->
    {% if download %}
    <!-- <div class="row mt-5 shadow-lg border rounded">
        <div class="col-12 col-md-6 py-3">
            <p class="p-2 text-center text-white border rounded shadow" style="background-color: #334390;">HD File</p>
            <div class="embed-responsive embed-responsive-16by9 border shadow my-2">
                <video controls class="embed-responsive-item bg-dark">
                    <source src="{{sdvideo_url}}" type="video/mp4">
                <video>
            </div>
        </div>
        <div class="col-12 col-md-6 py-3">
            <p class="p-2 text-center text-white border rounded shadow" style="background-color: #334390;">HD File</p>
            <div class="embed-responsive embed-responsive-16by9 border shadow my-2">
                <video controls class="embed-responsive-item bg-dark">
                    <source src="{{sdvideo_url}}" type="video/mp4">
                <video>
            </div>
        </div>
    </div> -->
    <div class="row mt-5 shadow-lg rounded">
        <div class="col-md-6 mx-auto py-3">
            <table class="table table-condensed table-striped table-bordered">
                <thead>
                    <tr class="bg-primary">
                        <td><b>Server</b></td>
                        <td><b>Format</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="{{sdvideo_url}}" download="" title="Right Click and Save to start Downloading" class="btn btn-danger btn-sm btn-block">Download Link 1</a></td>
                        <td><strong>video/mp4</strong></td>
                    </tr>
                    <tr>
                        <td><a href="{{sdvideo_url}}" download="" title="Right Click and Save to start Downloading" target="_blank" class="btn btn-danger btn-sm btn-block">Download Link 2</a></td>
                        <td><strong>Video/Mp4</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    <!-- end download page only -->

    <div class="row pt-5" id="help">
        <div class="col-12">
            <p class="text-responsive text-center text-white">How to download Instagram Reels video online?</p>
        </div>
    </div>
    <div class="row pt-2 text-white text-center">
        <div class="col-12 col-md-4 pb-2">
            <div class="border rounded p-4 shadow">
                <div class="h3">Copy Reels URL</div>
                <div class="p">Copy your video URL from Instagram Reels that you need to download. You can use Ctrl+C or with the context menu.</div>
            </div>
        </div>
        <div class="col-12 col-md-4 pb-2">
            <div class="border rounded p-4 shadow">
                <div class="h3 py-1">Paste in search field</div>
                <div class="p py-2">Paste Instagram Reels video URL in the search field and click 'Go'. Use Ctrl+V.</div>
            </div>
        </div>
        <div class="col-12 col-md-4 pb-2">
            <div class="border rounded p-4 shadow">
                <div class="h3">Download Video</div>
                <div class="p">You will get a list of files for download video, Click the 'Download' button to start downloading the file</div>
            </div>
        </div>
    </div>
    <div class="row pt-2 bg-light text-dark">
        <div class="col-12 pb-2">
            <div class="border rounded p-4 shadow">
                <h3><strong>What is Instagram Reels?</strong></h3>
                <p>Instagram Reels is a new feature of Instagram that allows you to create short-form videos, with 2 options of the length of 15 and 30 seconds. Although there are some similarities with Tiktok, Reels still makes users excited by combining
                    Instagram's outstanding editing functions. Users are free to edit and design interesting videos to create their own unique movies.</p>
                <h3><strong>What is an Instagram Reels Downloader?</strong></h3>
                <p>SnapInsta Instagram Reels Downloader will help you download Reels videos from Instagram posts to your device in the easiest way when Instagram does not support you in this.</p>
                <h3><strong>Features of Instagram Reels downloader:</strong></h3>
                <ol>
                    <li>Fast, easy, and safe.</li>
                    <li>No need to log in to your Instagram account.</li>
                    <li>You can download videos and pictures of Instagram just by clicking on a button.</li>
                    <li>Save and download videos and photos in their original resolution and quality.</li>
                    <li>Save and download Instagram Reels from personal accounts.</li>
                </ol>
                <p>Best Instagram Reels Video Downloader Keywords:- Instagram Reels Download, Download Instagram Reels Videos, Save Instagram Reels Video, download Reels Instagram, Online Free Instagram Reels download, Instagram Reels to MP4, Convert Reels
                    to MP4, Best Reels Video Downloader</p>
                <p>This is a very easy tool, from here you can easily download Instagram reels videos from your desktop, pc, laptop, or your mobile. You can also download Instagram reels videos in mp4 format in HD quality. If you are using mobile and want
                    to download Insta Reels videos via mobile, then I am going to show you step by step how you can save Instagram Reels through your mobile and you can download Instagram Reels Videos status easily. So let's go.</p>
                <h2><strong>(If You want to use Mobile, Android, or IOS)How to Instagram Reels Video Download?</strong></h2>
                <p>Step 1: - First of all, open the App of Instagram on your mobile or ios.</p>
                <p>Step 2: - Then after that, you click on the 3 arrows made in the bottom menu.</p>
                <p>Step 3: - After clicking on the arrow, a popup will be open</p>
                <p>Step 4: - Then you will get some options to share but you have to copy the link of the image by clicking on the Copy link button.</p>
                <p>Step 5: - After copying the reels video link of Instagram, you paste it in the search box and then click the download button.</p>
                <p>Step 6: - You will get the option of a download link to download the reels from where you can download your reels easily.</p>
                <h2><strong>(If you are Using Desktop)How to Download Reels Videos from Instagram.com?</strong></h2>
                <p>Step 1:- First of all, you can visit the website of instagram.com, then by clicking on the 3 arrows made in the top menu.</p>
                <p>Step 2:- After clicking on the arrow, a popup will be open</p>
                <p>Step 3:- After copying the Copy Link, paste this link into the search box above, after pasting the Images link, click on the download button.</p>
                <p>Step 4:- After clicking on the download button you will get the format of the image link, you can take the curser on the download link and right-click by clicking save as. You can download the reels.</p>
                <h2>Instagram Reels Video Downloader Features :</h2>
                <p>Step 1:- Fast, easy, and secure.</p>
                <p>Step 2:- No need to login into your Instagram account.</p>
                <p>Step 3:- You can Download Instagram Reels Videos &amp; Private Videos with just one click.</p>
                <p>Step 4:- Save &amp; download reels videos in their original resolution &amp; HD Or SD quality.</p>
                <p>Can I Convert Instagram Reels to MP4?</p>
                <p>Yes, You can easily convert Facebook Video to mp4.</p>
                <h1>Privacy Policy for st9ja</h1>

                <p>At st9ja, accessible from st9ja.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by st9ja and how we use it.</p>

                <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

                <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in st9ja. This policy is not applicable to any information collected offline
                    or via channels other than this website. Our Privacy Policy was created with the help of the <a href="https://www.privacypolicygenerator.info">Free Privacy Policy Generator</a>.</p>

                <h2>Consent</h2>

                <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

                <h2>Information we collect</h2>

                <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
                <p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
                <p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>

                <h2>How we use your information</h2>

                <p>We use the information we collect in various ways, including to:</p>

                <ul>
                    <li>Provide, operate, and maintain our website</li>
                    <li>Improve, personalize, and expand our website</li>
                    <li>Understand and analyze how you use our website</li>
                    <li>Develop new products, services, features, and functionality</li>
                    <li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
                    <li>Send you emails</li>
                    <li>Find and prevent fraud</li>
                </ul>

                <h2>Log Files</h2>

                <p>st9ja follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet
                    protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose
                    of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>

                <h2>Cookies and Web Beacons</h2>

                <p>Like any other website, st9ja uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users'
                    experience by customizing our web page content based on visitors' browser type and/or other information.</p>

                <p>For more general information on cookies, please read <a href="https://www.generateprivacypolicy.com/#cookies">the Cookies article on Generate Privacy Policy website</a>.</p>

                <h2>Google DoubleClick DART Cookie</h2>

                <p>Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to www.website.com and other sites on the internet. However, visitors may choose to
                    decline the use of DART cookies by visiting the Google ad and content network Privacy Policy at the following URL – <a href="https://policies.google.com/technologies/ads">https://policies.google.com/technologies/ads</a></p>


                <h2>Advertising Partners Privacy Policies</h2>

                <P>You may consult this list to find the Privacy Policy for each of the advertising partners of st9ja.</p>

                <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on st9ja, which are sent directly to users' browser. They automatically
                    receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>

                <p>Note that st9ja has no access to or control over these cookies that are used by third-party advertisers.</p>

                <h2>Third Party Privacy Policies</h2>

                <p>st9ja's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices
                    and instructions about how to opt-out of certain options. </p>

                <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>

                <h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>

                <p>Under the CCPA, among other rights, California consumers have the right to:</p>
                <p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
                <p>Request that a business delete any personal data about the consumer that a business has collected.</p>
                <p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
                <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

                <h2>GDPR Data Protection Rights</h2>

                <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
                <p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
                <p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
                <p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
                <p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
                <p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
                <p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
                <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

                <h2>Children's Information</h2>

                <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>

                <p>st9ja does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately
                    and we will do our best efforts to promptly remove such information from our records.</p>
            </div>
        </div>
    </div>

</div>
{% endblock content %}